####################################################################
# 32b ARM Config file for SPEC CPU2006
# Last Update: 2015 Mar 24

# -------------------------------------------------------------

# This file is an agglomeration from the provided CPU2006 example configuration
# files (Example-simple.cfg and Example-linux64-amd64-gcc43+.cfg).

# Note: I make no promises as to its suitability for use in official
# submissions.
 
# Please see http://www.spec.org/cpu2006/Docs/config.html (also available in
# the Docs directory of your SPEC tree) for details on config file setup.  The
# config.html page has a list of all of the fields required for a full
# publication ofresults.
 
#####################################################################
# System Under Test (SUT) Section

# If it affects performance, you need to describe it, either in the
# pre-defined fields or by adding it to the notes section. Replace the
# setting below with the ones that match your machine.

#######################################################################
  
# Tester Description
test_sponsor       = Test Sponsor (Optional, defaults to hw_vendor)
tester             = (Optional, defaults to hw_vendor)

# System Description
hw_model           = Unknown HW Model
hw_memory          = 4 GB
hw_disk            = 1 1TB Mystery Disk
hw_vendor          = Berkeley Architecture Research
hw_other           = None
hw_avail           = Dec-9999

# CPU description
# See http://www.spec.org/cpu2006/Docs/runrules.html#cpucount
# for a discussion of these fields

hw_cpu_name        = Unknown 32b ARM CPU 
hw_cpu_char        =
hw_cpu_mhz         = 1000
hw_fpu             = Integrated
hw_nchips          = 1
hw_ncores          = number of cores enabled
hw_ncoresperchip   = number of cores manufactured into each chip
hw_nthreadspercore = number of threads enabled per core
hw_ncpuorder       = 1,2 chips

# Cache description

hw_pcache          = 9999 MB I + 9999 MB D on chip per chip
hw_scache          = 9999 MB I+D on chip per chip
hw_tcache          = 9999 MB I+D off chip per chip
hw_ocache          = None

# Tester description 

license_num     = 0

# Operating system, file system

sw_os           = Unknown Version Unknown
sw_file         = Unknown File System
sw_state        = Multi-user
sw_other        = None
 
## SW config
sw_compiler        = gcc, g++ 4.8 cross-compiler
sw_avail           = Jan-2015
sw_base_ptrsize    = 32-bit
sw_peak_ptrsize    = 32-bit
 
#######################################################################
# End of SUT section
# If this config file were to be applied to several SUTs, edits would
# be needed only ABOVE this point.
######################################################################

ignore_errors = yes
tune          = base
basepeak      = yes
ext           = arm
output_format = asc,csv,html

# The publicly-accessible PathScale flags file at the URL below works
# with the settings in this file.  If you change compilers or compiler
# settings, you'll likely need to use a different flags file.
#flagsurl0     = $[top]/config/flags/arm-gcc-flags-revA.xml
#flagsurl1     = $[top]/config/flags/arm-linux-platform-revA.xml

reportable    = yes

default=default=default=default:
#####################################################################
#
# Compiler selection
#
#####################################################################

# if compiling natively, change to just gcc/g++/gfortran
CC  = gcc -std=gnu89
CXX = g++ -std=gnu89
FC  = gcc -std=gnu89

#####################################################################
# Optimization
#####################################################################

default=base=default=default:
COPTIMIZE      = -march=native -mtune=native -O3 -fno-strict-aliasing
CXXOPTIMIZE    = -march=native -mtune=native -O3 -fno-strict-aliasing
FOPTIMIZE      = -march=native -mtune=native -O3 -fno-strict-aliasing

#####################################################################
# 32/64 bit Portability Flags - all
#####################################################################

default=base=default=default:
#PORTABILITY    =

#####################################################################
# Portability Flags
#####################################################################

400.perlbench=default=default=default:
CPORTABILITY   =  -DSPEC_CPU_LINUX

462.libquantum=default=default=default:
CPORTABILITY   =  -DSPEC_CPU_LINUX

483.xalancbmk=default=default=default:
CXXPORTABILITY = -DSPEC_CPU_LINUX

481.wrf=default=default=default:
CPORTABILITY   = -DSPEC_CPU_CASE_FLAG -DSPEC_CPU_LINUX
 
#####################################################################
# Notes
#####################################################################

notes_submit_005 =See the configuration file for details.
 
